#calculate{
	padding: 5px 5px 15px 5px;
	background-image: url("texture.png");
	margin: 5px;
	height: 450px;
	width: 400px;
	min-height: 15px;
	box-shadow:
		0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
		2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
		inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
		inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/x 1px rgba(255,255,255,1); /*top internal highlight*/
}

#pad{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	/*background-image: url("texture.png");*/
	/*align-items: center;*/
}

#display{
	margin: 5px;
	padding: 25px;
	box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
	background: #ecf0f1;
}

.key {
	font-family: impact, sans-serif;
	font-size: 1.5em;
	background-color: #f7f7f7;
	margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  width: 74px;
  height: 74px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.key:hover{
	text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

#reset:hover{
	text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.number{
	color: #34495e;	
}

*:before {
    box-sizing: border-box;
}

.operator{
	font-size: 2em;
}

#reset{
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  width: 74px;
  height: 74px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}


#nums{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
#operators{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#multiply{
	font-size: 3em;
	line-height: 100px;
	text-align: center;
}